*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post{
    border: solid 5px teal;
    padding: 5px;
    margin-bottom: 10px;
    max-width: 800px;
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__content{
    word-break: break-all;
}

.post-enter {
    opacity: 50%;
    transform: translateX(-250px);
}
.post-enter-active {
    opacity: 1;
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    opacity: 20%;
    transform: translateX(-250px);
    transition: all 500ms ease-in;
}
